<!DOCTYPE html>
<html lang="en" ng-app="exampleApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../module/bootstrap.css">
    <link rel="stylesheet" href="../module/bootstrap-theme.css">
    <script src="../module/angular.js"></script>
    <script>
        angular.module("exampleApp",[]).controller("simpleCtrl",function($scope,$rootScope){
            $scope.$on("zipCodeUpdated",function(event,args){
                $scope[args.type]=args.zipCode
            })
            $scope.setAddress=function(type,zip){
                $rootScope.$broadcast('zipCodeUpdated',{
                    type:type,zipCode:zip
                });//这一段执行完会立即跳到13行执行，13-15行执行完后，立即返回，执行下面的语句
                console.log("Type: "+type+" "+zip)
            }
            $scope.copyAddress=function(){
                $scope.zip=$scope.billingZip;
            }
        }).controller("secondCtrl",function($scope){

        })
    </script>
</head>
<body>
    <div class="well" ng-controller="simpleCtrl">
        <h4>Billing Zip Code</h4>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="zip">
        </div>
        <button class="btn btn-primary" ng-click="setAddress('billingZip',zip)">
            Save Billing
        </button>
    </div>
    <div class="well" ng-controller="simpleCtrl">
        <h4>Shipping Zip Code</h4>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="zip">
        </div>
        <button class="btn btn-primary" ng-click="copyAddress()">Use Billing</button>
        <button class="btn btn-primary" ng-click="setAddress('shippingZip',zip)">
            Save Shipping
        </button>
        <!-- 这里也可以添加下面的div来证明子控制器 -->
    </div>
    <div class="well" ng-controller="secondCtrl">
        {{billingZip}}+{{zip}}
        <h1>注意：经实验证明$scope.$broadcast的向下传播只针对同一个控制器或是在这个控制器下的子控制器</h1>
    </div>
</body>
</html>