<!--<!DOCTYPE html>
<html lang="en" ng-app="exampleApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../module/bootstrap.css">
    <link rel="stylesheet" href="../module/bootstrap-theme.css">
    <script src="../module/angular.js"></script>
    <script type="text/ng-template" id="scopeTemplate">
         <div class="panel-body">Name:<input ng-model="name" type="text" /></div>
    </script>
    <script type="text/javascript">
        angular.module("exampleApp",[])
            .directive("scopeDemo",function(){
                return {
                    template:function(){
                        return angular.element(
                            document.querySelector("#scopeTemplate")
                        ).html();
                    },
                    scope:true
                }
             })
            .controller("scopeCtrl",function($scope){
                $scope.name="abc"
                $scope.data={
                    str:"str"
                }
            })
    </script>
</head>
<body ng-controller="scopeCtrl">
    <div class="panel panel-default">
        <div class="panel-body" scope-demo></div>
        <div class="panel-body" scope-demo></div>
              //这里为什么同样的作用域，但是其中一个变化时，另一个不变化 
             //答：字符串属性，不变化，对象属性变化，这是angular的特性，换成data.str就好
        
    </div>
</body>
</html>
-->
 <html lang="en" ng-app="exampleApp">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Document</title>
            <link rel="stylesheet" href="../module/bootstrap.css">
            <link rel="stylesheet" href="../module/bootstrap-theme.css">
            <script src="../module/angular.js"></script>
            <script>
                angular.module("exampleApp",[])
                    .directive("scopeDemo",function(){
                        return {
                            template:"<div class='panel-body'>Name:<input ng-model=name /></div>",
                            scope:true
                        }
                     })
                    .controller("scopeCtrl",function($scope){
                      
                    })
            </script>
        </head>
        <body ng-controller="scopeCtrl">
            <div class="panel panel-default">
                <div class="panel-body" scope-demo></div>
                <div class="panel-body" scope-demo></div>
            </div>
        </body>
        </html> 
